<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .inputs {
      padding: 4px;
      border-radius: 10px;
    }
  </style>
  <body>
    <form action="#" method="post">
      <h1>name</h1>
      <p><input class="inputs" type="text" name="nm" placeholder="nome" /></p>
      <p><input class="inputs" type="text" name="email" placeholder="email" /></p>
      <p><input class="inputs" type="password" name="senha" placeholder="senha" /></p>
      <p><input class="inputs" type="submit" value="submit" /></p>
    </form>
  </body>
</html>
